<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lpc.studydemo.mapper.UserMapper">
    <select id="selectById" resultType="com.lpc.studydemo.entity.User">
        SELECT
            id,
            name,
            password,
            gender,
        FROM
            user
        WHERE
            id = #{id}
    </select>
</mapper>